Library/*
obj/*
*.csproj
*.sln
.vs/*
Temp/*
caches/*
.vscode/*
Assets/StreamingAssets/*
Assets/UnityEngine.AssetBundleGraph/Cache/*
Assets/UnityEngine.AssetBundleGraph/SettingFiles/*
!*.gitkeep
AssetBundles/*
tools/xmlxlsx/out_string.xls
tools/xmlxlsx/out_string.xml
tools/xmlxlsx/out_string_arr.xls
tools/xmlxlsx/out_string_arr.xml
*.toc
*.pkg
*.pyz
*.html
#*.txt
#*.manifest
*.spec
# maya的历史文件
.mayaSwatches
tools/xmlxlsx/out.xml
tools/xmlxlsx/~$全量校验后的文本.xlsx
tools/xmlxlsx/build/merge_verified_text_android_string/merge_verified_text_android_string.exe.manifest
tools/xmlxlsx/build/merge_verified_text_android_string/warn-merge_verified_text_android_string.txt
tools/xmlxlsx/build/merge_verified_text_android_string_arr/merge_verified_text_android_string_arr.exe.manifest
tools/xmlxlsx/build/merge_verified_text_android_string_arr/warn-merge_verified_text_android_string_arr.txt
!Assets/Scripts/7zip/Compress/LzmaAlone/LzmaAlone.csproj
!Assets/Scripts/7zip/Compress/LzmaAlone/LzmaAlone.sln
# mac系统文件
.DS_Store
changeAtlas.txt
ret.txt
.svn/
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta
Assets/StreamingAssets.meta
.vsconfig
Assets/__JFHD/
Assets/__JFHD.meta

.idea/.idea.rhino-client
.idea/
Assets/__D2Framework.meta
Assets/__D2Framework/
Assets/Hrh/
Assets/Hrh.meta
Assets/Hrh/Test.unity

# bakery
Assets/Bakery/ftGlobalStorage.asset
Assets/Bakery/ftGlobalStorage.asset.meta
Assets/Bakery/Editor/*
Assets/Bakery/Editor.meta
Logs/*
Log/*

# XIAO
Assets/_Grey/*
Assets/_Grey.meta
Assets/BakeryLightmaps/*
Assets/BakeryLightmaps.meta
Assets/ScreenShooter/*
Assets/ScreenShooter.meta

Assets/WYQ/*
Assets/WYQ.meta
tools/aar/*

tools/DangwanUnity/.gradle
tools/DangwanUnity/app/build
rhinoAndroid.sln.DotSettings.user
